:root {
    --color-primary: #4D1559;
    --color-secondary: #7F92B1;
    --color-text: #fff;
    --color-buttons: #214A40;
    --color-buttons-hover: #ffffff;
    --bg-color-buttons: #9E968D;
    --bg-color-buttons-hover: #d768e1;
    --bg-color-searchbar: #71655C;

    --border-radius: 8px;

    --border-1: 2px solid #0000000b;

    --transition-6: ease-in-out 0.6s;
}


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;
    font-family: 'Yekan';
    background-color: #999089;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: var(--color-text);
}